*{
    margin: 0;
    padding: 0;
}

.shapes{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0 2rem 0;
}

.input_form{
    display: flex;
    justify-content: center;
    margin: 2rem 0 0 0;
}

form input {
    margin: 0.5rem 0;
}